{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "globals": {
    "document": true
  },
  "rules": {
    "linebreak-style": "off",
    "consistent-return": "warn",
    "no-console": "off",
    "no-shadow": "warn",
    "import/prefer-default-export": "warn",
    "prefer-destructuring": "warn"
  }
}
